<head>
    <link rel="stylesheet" href="/my_css/history.css">
</head>
<div class="breadcrumb-area">
    <div class="container" style="padding: 0">
        <ul class="breadcrumb">
            <li>
                <a href="">Trang chủ</a>
                <li>
                    <a href="">Thông tin tài khoản</a>
                </li>

        </ul>
    </div>
</div>

<div class="container" id="main">
    <div class="row">
        <div class="col-md-3 left-col">
            <div class="profiles">
                <!-- <p class="image">
                        <img src="" height="45" width="45" alt="avatar">
                    </p> -->
                <p class="name">Tài khoản của</p>
                <h6>{{user.fullname}}</h6>
            </div>
            <div class="menu">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="active">
                        <a href="./edit">
                            <i class="fas fa-user"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="./history">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Quản lý đơn hàng</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 right-col">
            <h1 class="have-margin">Thông tin tài khoản</h1>
            
            <div class="account-profile register-form">
                <form class="content" method="post" action="/customer/account/edit" id="edit-account">
                    <div class="form-group">
                        <label class="control-label" for="full_name">Họ Tên </label>
                        <div class="input-wrap">
                            <input type="text" name="full_name" class="form-control" id="full_name" value="{{name}}" placeholder="Họ tên">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label off" for="email">Email</label>
                        <div class="input-wrap">
                            <input type="email" disabled="" value={{user.email}} class="form-control" name="{{email}}" id="email" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group gender-select-wrap" id="register_name">
                        <label class="control-label">Giới tính</label>
                        <div class="input-wrap">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="hidden" id="gender" value="{{user.gender}}"/>
                                        <label>
                                            
                                            <input type="radio" name="gender" value="on" id="male" class="gender" >
                                            
                                            <span>
                                                <i class="ico"></i>
                                            </span>
                                            Nam
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="gender" value="off" id="female" class="gender">
                                            <span>
                                                <i class="ico"></i>
                                            </span>
                                            Nữ
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="password" value="{{user.password}}"/>
                    <span class="group-title">
                        <strong>Thay đổi mật khẩu</strong>
                    </span>
                    <div class="password-group">
                        <div class="form-group">
                            <label class="control-label" for="old_password">Mật khẩu cũ</label>
                            <div class="input-wrap">
                                <input type="password" name="old_password" class="form-control" id="old_password" value="" autocomplete="off" placeholder="Nhập mật khẩu cũ">
                                <span class="help-block"></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="new-password">Mật khẩu mới</label>
                            <div class="input-wrap">
                                <input type="password" name="new_password" class="form-control" id="new_password" value="" autocomplete="off" placeholder="Mật khẩu từ 6 đến 32 ký tự">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="re_new_password">Nhập lại</label>
                            <div class="input-wrap">
                                <input type="password" name="re_new_password" class="form-control" id="re_new_password" value="" autocomplete="off" placeholder="Nhập lại mật khẩu mới">
                                <span class="help-block"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-row form-row-button">
                        <button type="submit" value="Register" name="dwfrm_profile_confirm" >Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/customer.js"></script>