<link href="/my_css/cart.css" rel="stylesheet">

<div class="container default-margin-top">
    <div class="panel-heading">
        <span class="panel-title">Giỏ hàng</span>
        <span>({{number_of_items}} sản phẩm)</span>
    </div>
    <div class="panel panel-right default-margin-top">
        <div class="panel-module">
            <div class="module-body">
                {{#if data}}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Thông tin chi tiết sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Giá bán</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each cookieimages}}

                        <input class="Add_img" title="{{id}}" type="hidden" value="{{url}}"/>
                        

                        {{/each}}
                        {{#each data}}
                        <tr class="item-product" id="{{id}}" >
                            <td class="pd-info-detail">
                                <dl>
                                    <dt class="pd-pic">
                                        <img id="{{id}}" src="{{img}}">
                                    </dt>
                                    <dd class="pd-link">
                                        <a href="{{url}}" class="lnk-pd-name">{{name}}</a>
                                    </dd>
                                </dl>
                                <dl class="pd-attribute">
                                    <dt>Kích cỡ: </dt>
                                    <dd>
                                        <span>{{size}}</span>
                                    </dd>
                                </dl>
                            </td>
                            <td>
                                <div class="number-input">
                                    <div class="input-group {{size}}" style="width:100px;">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-touchspin-first" type="button" data-id="{{id}}" data-size="{{size}}">-</button>
                                        </div>
                                        <input type="tel" min="1" max="10" value="{{quantity}}" class="form-control pd_quantity" >
                                        <div class="input-group-append">
                                            <button class="btn btn-touchspin-secondary" type="button" data-id="{{id}}" data-size="{{size}}">+</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="pd-price">
                                <p class="price">{{price}}&nbsp;₫</p>
                                <p class="price2">{{originalPrice}}&nbsp;₫</p>
                            </td>
                            <td class="text-right">
                                <div class="action">
                                    <a href="javascript:void(0);" class="btn-link btn-item-delete" data-pd-id="{{id}}" data-pd-size="{{size}}" data-title="{{name}}">Xóa</a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="pd-price-info-wrapper float-right">
                                    <div class="pd-price-info2">
                                        <span class="pd-price-title">Tạm tính:</span>
                                        <span class="pd-price-total ui-cost notranslate">{{mney}}&nbsp;₫</span>

                                        <div class="form-row form-row-button">
                                            <a href="/checkout/shipping-detail" type="button" class="btn" value="Tiến hành đặt hàng">Tiến hành đặt hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {{else}}
                <div class="empty-cart text-center">
                    <img src="/image/logo.svg" style="height: 100px;" alt="Không có sản phẩm nào trong giỏ hàng của bạn.">
                    <p class="message text-center">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
                    <a href="/">Tiếp tục mua sắm</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>


<script>
    $(".number-input .btn-touchspin-first").click(function () {
        let product_id = $(event.target).data("id");
        let size = $(event.target).data("size");
        console.log("#" + product_id + " ."+size+" .pd_quantity");
        let cur_quantity = $("#" + product_id + " ."+size+" .pd_quantity").val();
        if (cur_quantity > 1)
            $("#" + product_id + " ."+size+" .pd_quantity").val(--cur_quantity);
    });

    $(".number-input .btn-touchspin-secondary").click(function () {
        let product_id = $(event.target).data("id");
        let size = $(event.target).data("size");
        console.log("#" + product_id + " ."+size+" .pd_quantity");
        let cur_quantity = $("#" + product_id + " ."+size+" .pd_quantity").val();
        if (cur_quantity < 10)
            $("#" + product_id + " ."+size+" .pd_quantity").val(++cur_quantity);
    });

    $(".number-input button").click(function (event) {
        let product_id = $(event.target).data("id");
        let size = $(event.target).data("size");
        let cur_quantity = $("#" + product_id + " ."+size+" .pd_quantity").val();

        $.ajax({
            type: 'PUT',
            url: window.location.pathname + '/edit',
            contentType: "application/json",
            data: JSON.stringify({ data: { "id": product_id, "size": size, "number": cur_quantity } })
        }).done(function () {
            location.reload();
        })
    })

    $(".btn-item-delete").click(function (event) {
        event.preventDefault();

        $.ajax({
            url: window.location.pathname + '/delete',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify({ data: { "id": $(this).data('pd-id'), "size": $(this).data('pd-size') } })
        }).done(function (result) {
            location.reload();
        }).fail(function (err) {

        })

    })
</script>

