<head>
  {{#if title}}
      <title>{{title}}</title>
  {{/if}}
</head>

<div class="page-header">
  <div class="container-fluid">
    <div class="float-right">
      <a href="/admin/sanpham/them" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}
    <ul class="breadcrumb">
      {{#each breadcrumbs}}
      <li>
        <a href={{this.url}}>{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table"></i> Danh sách các danh mục sản phẩm</h3>
      </div>
      <div class="panel-body bg-light">
        <form method="POST" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <td class="text-left">Mã danh mục</td>
                <td class="text-left"> Tên danh mục</td>
                <td class="text-center">Ngày tạo</td>
                <td class="text-center">Action</td>
                </tr>
              </thead>
              <tbody>
                {{#each categories}}
                <tr>
                  <td class="text-left">{{id}} </td>
                  <td class="text-left"> {{categoryName}}</td>
                  <td class="text-center">{{createdAt}}</td>
                  <td class="text-center">
                    <ul>
                      <li><a href="" data-toggle="tooltip" title="" data-original-title="Edit">Sửa</a></li>
                      <li><a href="" data-toggle="tooltip" title="" data-original-title="Delete">Xóa</a></li>
                    </ul>
                    
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
</div>
