<head>
    <link rel="stylesheet" href="/my_css/history.css">
    <link rel="stylesheet" href="/datatables/dataTables.bootstrap4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<div class="breadcrumb-area">
    <div class="container" style="padding: 0">
        <ul class="breadcrumb">
            {{#each breadcrumbs}} {{#unless @last}}
            <li>
                <a href={{this.url}}>{{name}}</a>
            </li>
            {{else}}
            <li>
                <a href={{this.url}}>{{name}}</a>
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>
</div>

<div class="container" id="main">
    <div class="row">
        <div class="col-md-3 left-col">
            <div class="profiles">
                <!-- <p class="image">
                        <img src="" height="45" width="45" alt="avatar">
                    </p> -->
                <p class="name">Tài khoản của</p>
                <h6>{{user.fullname}}</h6>
            </div>
            <div class="menu">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="edit">
                            <i class="fas fa-user"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="history">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Quản lý đơn hàng</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 right-col">
            <h1 class="have-margin">Đơn hàng của tôi</h1>
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <td class="text-left">Mã đơn hàng</td>
                        <td class="text-right">Ngày mua</td>
                        <td class="text-right">Tổng tiền</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each carts}}
                    <tr>
                        <td class="text-left">
                            <a class="modal_cart_detail" data-cart-id={{id}} data-target="cartModal" data-toggle="modal" href="#myModal">{{id}}</a>
                        </td>
                        <td class="text-right">{{createdAt}}</td>
                        <td class="text-right">{{total}}&nbsp;₫</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--Dialog thêm danh mục sản phẩm -->
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chi tiết đơn hàng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form id="set-category" action="" method="">
                    <div class="modal-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td class="text-left" style="width:40px;">Hình ảnh minh họa</td>
                                    <td class="text-left">Tên sản phẩm</td>
                                    <td class="text-center">Kích cỡ</td>
                                    <td class="text-center">Số lượng</td>
                                    <td class="text-center">Đơn giá</td>
                                    <td class="text-center">Thành tiền</td>
                                </tr>
                            </thead>
                            <tbody>
                                {{!-- Chen thong tin --}}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="/my_js/admin.js"></script>
<script src="/datatables/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>