<style>
    body{
        background: white;
    }
    .panel .module-heading h2.module-title{
        width: 10%;
        border-bottom: 2px solid black;
    }
</style>
<div class="homepage-parallex">
    <div class="container">
        <div class="row">
            <div class="col-md-7 parallex-cnt">
                <h1>T-SHIRT DESIGN</h1>
                <h2>MAKE YOUR STYLE DIFFERENCE!</h2>
                <a href="design" class="btn-special">get started</a>
                {{breadcrumb.url}}
            </div>
            <div class="col-md-5">
                <div id="slider">
                    <div class="slide">
                        <img src="/image/slider_shirt.png">
                    </div>
                    <div class="slide">
                        <img src="/image/slider_shirt_3.png">
                    </div>
                    <div class="slide">
                        <img src="/image/slider_shirt_2.png">
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="main" role="main" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="row-elment col-md-12">
                <div class="container">
                    <div class="row-content row">
                        <div class="col-elment col-md-6">
                            <div class="module-margin introduction">
                                <div>
                                    <h1>Mystyle làm gì?</h1>
                                    <p>
                                        Mystyle được thành lập với sứ mệnh mang đến cho bạn chiếc áo đúng ý nhất, hài lòng về kiểu áo và hình in. Chúng tôi cung
                                        cấp nền tảng để bạn có thể tự tay thiết kế chiếc áo cho chính mình, hoặc giúp đỡ
                                        thành viên khác thiết kế chiếc áo. Đồng thời Mystyle cung cấp các mẫu áo theo xu
                                        hướng thời trang hot nhất trên thị trường với giá cả hợp lý và nhiều đãi hấp dẫn.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-elment col-md-6">
                            <div class="module-margin join-to-me">
                                <div>
                                    <h3>Tham gia cộng đồng của chúng tôi</h3>
                                    <p>
                                        Chúng tôi là một cộng đồng và chúng tôi muốn kết nối cùng với bạn. Hãy tham gia cùng cộng đồng của chúng tôi để cập nhật
                                        những tin tức, thiết kế mới nhất, những chương trình giảm giá.Hãy ghé thăm diễn đàn
                                        để cùng trao đổi, và theo dõi các trang mạng xã hội được cập nhất hàng tuần.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-content row">
                <div class="col-elment col-md-3">
                    <div class=" text-gioithieu">
                        <p>
                            <a href="/customproduct">
                                <img src="/image/thietkeao.png">
                        </p>
                        <p>Ứng dụng thiết kế áo</p>
                    </div>
                </div>

                <div class="col-elment col-md-3">
                    <div class="text-gioithieu">
                        <p>
                            <a href="/product">
                                <img src="/image/aothun.png">
                            </a>
                        </p>
                        <p>Áo có sẵn</p>
                    </div>

                </div>
                <div class="col-elment col-md-3">
                    <div class="text-gioithieu">
                        <p>
                            <a href="https://www.facebook.com/H%E1%BB%99i-Th%C3%A1nh-C%E1%BB%A7a-%C4%90%E1%BB%A9c-Ch%C3%BAa-Tr%E1%BB%9Di-774359376007813/">
                                <img src="/image/facebook.png">
                            </a>
                        </p>
                        <p>Facebook</p>
                    </div>
                </div>
                <div class="col-elment col-md-3">
                    <div class="text-gioithieu">
                        <p>
                            <a href="https://www.instagram.com/" target="_blank">
                                <img src="/image/instagram.png" alt="">
                            </a>
                        </p>
                        <p>Instargram</p>
                    </div>
                </div>
            </div>


            <div class="panel right-panel product-main">
                {{#each categories}}
                <div class="module-heading">
                    <h2 class="module-title">
                        {{categoryName}}
                    </h2>
                </div>
                <div class="module-body">
                    <div class="row">
                        {{#each Products}}
                        <div class="product-item col-md-3">
                            <a class="product-wrapper" href="/product/{{../id}}/{{id}}" data-id="{{id}}">
                                <div class="product-img">
                                    <div class="img-change">
                                        <img src={{image1}} data-alt-src={{image3}} class="bell mx-auto" col="g">
                                        <span class="product-badge sale">-{{discount}}%</span>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <span class="product-name" href="/product">{{name}}</span>
                                    <div class="product-price">
                                        <span class="money money-sale">{{price}}</span>
                                        <span class="money-text">còn</span>
                                        <span class="money">{{discountPrice}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/each}}

            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>