<head>
    <link rel="stylesheet" href="/my_css/item-style.css">
</head>
<div class="breadcrumb-area">
    <div class="container" style="padding: 0">
        <ul class="breadcrumb">
            {{#each breadcrumbs}}
                {{#unless @last}}
                    <li>
                        <a href={{this.url}}>{{name}}</a>
                    </li>
                {{else}}
                    <li>
                         <a href={{this.url}}>{{name}}</a>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="container clearfix">
    <div class="panel left-panel" style="width: 253px">
        <div class="panel-module">
            <div class="module-heading">
                <h4 class="module-title">
                    <a>Danh mục sản phẩm</a>
                </h4>
            </div>

            <ul class="module-body">
                {{#each categories}}
                <li>
                    <a href="/product/{{id}}">{{categoryName}}</a>
                </li>
                {{/each}}
            </ul>
        </div>


    </div>

    <div class="panel right-panel product-main" style="width: 850px;">
        <div class="module-heading">
            <h2 class="module-title">
                {{category.categoryName}}
            </h2>
        </div>
        <div class="module-body" onload="">
            <div class="row">
                {{#each category.Products}}
                <div class="product-item col-md-4">
                    <a class="product-wrapper" href="/product/{{../category.id}}/{{id}}" data-id="{{id}}">
                        <div class="product-img">
                            <div class="img-change" >
                                <img src={{image1}} data-alt-src={{image3}} class="bell mx-auto" col="g">
                                {{!-- <img src={{ProductImage2}} class="bell" style="display:none" col="b"> --}}
                                <span class="product-badge sale">-{{discount}}%</span>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="product-name" href="/product">{{name}}</span>
                            <div class="product-price">
                                <span class="money money-sale">{{price}}</span>
                                <span class="money-text">còn</span>
                                <span class="money">{{discountPrice}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}

            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="/js/product-detail.js"></script>