<head>
    <link rel="stylesheet" href="/my_css/item-style.css">
</head>

<div class="breadcrumb-area">
    <div class="container" style="padding: 0">
        <ul class="breadcrumb">
            {{#each breadcrumbs}}
                {{#unless @last}}
                    <li>
                        <a href={{this.url}}>{{name}}</a>
                    </li>
                {{else}}
                    <li>
                         <a href={{this.url}}>{{name}}</a>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="detail">
    <div class="container white-panel" id="main-area">
        <div class="detail-main">
            <div class="gallary-wrap">
                <div class="thumbnail-main">
                    <div class="thumbnail-item">
                        <img class="" src={{product.image1}}>
                    </div>
                    <div class="thumbnail-item">
                        <img class="" src={{product.image3}}>
                    </div>
                    <div class="thumbnail-item">
                        <img class="" src={{product.image2}}>
                    </div>
                    <div class="thumbnail-item">
                        <img class="" src={{product.image4}}>
                    </div>
                </div>
                <div class="preview-main">
                    <img src={{product.image1}}>
                </div>
            </div>
            <div class="detail-wrap">
                <div class="detail-header">
                    <h1 class="i-name">{{product.name}}</h1>
                </div>
                <div class="i-price-area">
                    <div class="i-price-main">
                        <div class=" i-detail-wrapper">
                            <div class="i-del-price">
                                <span class="i-detail-title">Giá: </span>
                                <del class="i-del-content">
                                    <span id="i-price">{{product.price}}</span>
                                    <span id="i-symbol">₫</span>
                                    <span id="i-unit">/{{product.unit}}</span>
                                </del>
                            </div>
                        </div>

                        <div class="i-detail-wrapper">
                            <span class="i-detail-title">Giá hiện tại: </span>
                            <div class="i-special-price">
                                <span id="i-price">
                                    <strong>{{product.discountPrice}}</strong>
                                </span>
                                <span id="i-symbol">
                                    <strong>₫ </strong>
                                </span>
                                <span id="i-unit">/ {{product.unit}}</span>
                            </div>
                        </div>

                        <div class="deal-process" style="display:block;">
                            <div class="deal-time">
                                <span class="alarm-ico"></span>
                                Khuyến mãi sẽ kết thúc vào ngày
                                <strong>30/04/2018</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-attribute-area">
                    <div  id="form-select-attributes">
                        <div>
                            <dl class="i-detail-wrapper">
                                <dt class="i-detail-title">Cỡ áo: </dt>
                                <dd class="i-detail-main ">
                                    <ul id="i-select-size" data-type="select">
                                        <li><span title="Chọn kích cỡ: S" >S</span></li>
                                        <li><span title="Chọn kích cỡ: M" >M</span></li>
                                        <li><span title="Chọn kích cỡ: L" >L</span></li>
                                        <li><span title="Chọn kích cỡ: XL" >XL</span></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="i-detail-wrapper">
                                <dt class="i-detail-title">Số lượng: </dt>
                                <div class="number-input">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-touchspin-first" type="button">-</button>
                                        </div>
                                        <input type="tel" min="1" value="1" id="pd_quantity" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-touchspin-secondary" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="availability">
                                    <span>(Có sẵn: </span>
                                    <span id="availability-number"></span>
                                    <span>{{product.unit}})</span>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="item-action-area">
                    <button class="btn-noradius" id="add-to-cart" type="submit" title="Thêm sản phẩm vào giỏ hàng của bạn" disabled="disabled">
                        <span>Thêm vào giỏ hàng</span>
						<svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
							<path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
						</svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="product-content-area">
                <h3 class="product-table-title">Thông tin chi tiết</h3>
                <div class="white-panel">
                    <table id="product-detail" cellspacing="0" class="table table-bordered table-detail table-striped">
                        <colgroup>
                            <col style="width: 25%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td rel="brand">Thương hiệu</td>
                                <td class="last">
                                    {{!-- <a href="">Pioneer Camp</a> --}}
                                    {{product.Supplier.companyName}}
                                </td>
                            </tr>
                            <tr>
                                <td rel="origin">Sản xuất tại</td>
                                <td class="last">
                                    {{product.Supplier.madeIn}}
                                </td>
                            </tr>
                            <tr>
                                <td rel="item_model_number">Model</td>
                                <td class="last">
                                    {{product.id}}
                                </td>
                            </tr>
                            <tr>
                                <td rel="size_nguoi_mau_mac">Size hình mẫu</td>
                                <td class="last">
                                    S
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/product-detail.js"></script>