<head>
  {{#if title}}
      <title>{{title}}</title>
  {{/if}}
</head>

<div class="page-header">
  <div class="container-fluid">
    <div class="float-right">
      <a href="/admin/sanpham/them" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}
    <ul class="breadcrumb">
      {{#each breadcrumbs}}
      <li>
        <a href={{this.url}}>{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table"></i> Danh sách sản phẩm</h3>
      </div>
      <div class="panel-body bg-light">
        <form method="POST" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <td class="text-center">Hình mẫu</td>
                <td class="text-center">Tên sản phẩm</a> </td>
                <td class="text-center">Thuộc danh mục</a> </td>
                <td class="text-center">Giá gốc</a> </td>
                <td class="text-center">Sale-off</a></td>
                <td class="text-center">Giá giảm</a> </td>
                <td class="text-center">Tình trạng</a></td>
                <td class="text-center">Action</td>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <td class="text-center"><img src={{image1}} alt="" class="img-thumbnail"> </td>
                  <td class="text-left">{{name}} </td>
                  <td class="text-left"> {{Category.categoryName}}</td>
                  <td class="text-right">{{price}}</td>

                  {{#if discountAvailable}}
                    <td class="text-center">{{discount}}%</td>
                    <td class="text-right">{{discountPrice}}</td>
                  {{else}}
                    <td class="text-center">Không giảm giá</td>
                    <td class="text-right">{{price}}</td>
                  {{/if}}

                  {{#if available}}
                    <td class="text-center">Còn hàng</td>
                  {{else}}
                    <td class="text-center">Hết hàng</td>
                  {{/if}}
                  <td class="text-center">
                   <ul>
                        <li><a href="" data-toggle="tooltip" title="Xóa sản phẩm này" data-original-title="Delete" class="delete" data-id={{id}}>Xóa</a></li>
                        <li><a href="/admin/sanpham/sua/{{id}}" data-toggle="tooltip" title="Sửa sản phẩm này" data-original-title="Edit" class="edit" data-id={{id}}>Sửa</a></li>
                    </ul>
                    
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
</div>
