<head>
  {{#if title}}
      <title>{{title}}</title>
  {{/if}}
</head>

<div class="page-header">
  <div class="container-fluid">
    <div class="float-right">
      <a href="/admin/sanpham/them" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}
    <ul class="breadcrumb">
      {{#each breadcrumbs}}
      <li>
        <a href={{this.url}}>{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table"></i> Danh sách tài khoản khách hàng</h3>
      </div>
      <div class="panel-body bg-light">
        <form method="POST" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <td class="text-left">Địa chỉ mail</td>
                <td class="text-left">Họ tên</td>
                <td class="text-center">Giới tính</td>
                <td class="text-center">isAdmin</td>
                <td class="text-center">Tình trạng</td>
                </tr>
              </thead>
              <tbody>
                {{#each customers}}
                <tr>
                  <td class="text-left">{{email}} </td>
                  <td class="text-left"> {{fullname}}</td>
                  {{#if gender}}
                    <td class="text-center">Nam</td>
                  {{else}}
                    <td class="text-center">Nữ</td>
                  {{/if}}
                  <td class="text-center">{{isAdmin}}</td>
                  <td class="text-center">{{active}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
</div>
