<head>
  {{#if title}}
      <title>{{title}}</title>
  {{/if}}
</head>

<div class="page-header">
  <div class="container-fluid">
    <div class="float-right">
      <button type="submit" form="form-product" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New">
        <i class="fa fa-save"></i>
      </a>
    </div>
    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}
    <ul class="breadcrumb">
      {{#each breadcrumbs}}
      <li>
        <a href={{this.url}}>{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table"></i>Chi tiết</h3>
      </div>
      <div class="panel-body bg-light">
        <form method="POST" id="form-product" class="form-horizontal" action="/admin/sanpham">
          <ul class="nav nav-tabs">
              <li><a href="#tab-general" data-toggle="tab">Chung</a></li>
              <li><a href="#tab-attribute" data-toggle="tab">Thuộc tính riêng</a></li>
              <li><a href="#tab-image" data-toggle="tab">Hình mẫu</a></li>
              <li><a href="#tab-discount" data-toggle="tab">Giảm giá</a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="tab-general">
                <div class="form-group row required">
                    <label for="input-product-name" class="col-2 col-form-label control-label">Tên sản phẩm</label>
                    <div class="col-10">
                        <input class="form-control" name="product_description[1][name]" type="text" placeholder="Tên sản phẩm" id="input-product-name">
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="input-product-category" class="col-2 col-form-label control-label">Danh mục sản phẩm</label>
                    <div class="col-10">
                        <select size="1" class="form-control" name="product_description[1][category]" id="input-product-category">
                            {{#each categories}}
                                <option value="{{id}}">{{categoryName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="input-product-supplier" class="col-2 col-form-label control-label">Nhà cung cấp</label>
                    <div class="col-10">
                        <select class="form-control" name="product_description[1][supplier]" id="input-product-supplier">
                            {{#each suppliers}}
                                <option value="{{id}}">{{companyName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="input-product-price" class="col-2 col-form-label control-label">Giá gốc</label>
                    <div class="col-10">
                        <input class="form-control" name="product_description[1][price]" type="text" placeholder="Giá bán của sản phẩm" id="input-product-price">
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-attribute">
                  <div class="table-responsive">
                    <table id="attribute" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-left">Số lượng size S</td>
                            <td class="text-left">Số lượng size M</td>
                            <td class="text-left">Số lượng size L</td>
                            <td class="text-left">Số lượng size XL</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="attribute-row0">
                            <td class="text-center">
                                <input type="number" name="product_attribute[0][product_attribute_description][1][s]" placeholder="Số lượng" class="form-control" min='0' max='100'>
                            </td>
                            <td class="text-center">
                                <input type="number" name="product_attribute[0][product_attribute_description][1][m]" placeholder="Số lượng" class="form-control" min='0' max='100'>
                            </td>
                            <td class="text-center">
                                <input type="number" name="product_attribute[0][product_attribute_description][1][l]" placeholder="Số lượng" class="form-control" min='0' max='100'>
                            </td>
                            <td class="text-center">
                                <input type="number" name="product_attribute[0][product_attribute_description][1][xl]" placeholder="Số lượng" class="form-control" min='0' max='100'>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                        </tr>
                    </tfoot>
                    </table>
                    </div>
              </div>
              <div class="tab-pane" id="tab-image">
                <div id="i-product-images" class="form-group row"></div>
              </div>
              <div class="tab-pane" id="tab-discount">
                <div class="form-group row required">
                    <label for="input-discount-status" class="col-2 col-form-label control-label">Trạng thái</label>
                    <div class="col-10">
                        <select class="form-control" name="product_discount[0][status]" id="input-discount-status">
                            <option value="true">Giảm giá</option>
                            <option value="false">Không giảm giá</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="input-discount-percent" class="col-2 col-form-label control-label">Phần trăm giảm giá</label>
                    <div class="col-10">
                        <input class="form-control" name="product_discount[0][percent]" type="number" placeholder="Nhập %" id="input-discount-percent">
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="input-discount-date" class="col-2 col-form-label control-label">Ngày hết hạn</label>
                    <div class="col-10">
                        <input class="form-control" name="product_discount[0][date]" type="date" id="input-discount-date">
                    </div>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>

<form method="POST" action="/admin/" enctype="multipart/form-data">
    <input type="file" name="filename" id="myFile" accept="image/*" style="display: none;">
</form>


{{>select-image-modal}}
{{!-- <label class="btn btn-danger" style="display: block;">'+
            'Chọn ảnh<input type="file" id="file_'+(i+1)+'" style="display: none;"></label> --}}
