<head>
  {{#if title}}
      <title>{{title}}</title>
  {{/if}}
</head>

<div class="page-header">
  <div class="container-fluid">
    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}
    <ul class="breadcrumb">
      {{#each breadcrumbs}}
      <li>
        <a href={{this.url}}>{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table"></i> Danh sách tài khoản khách hàng</h3>
      </div>
      <div class="panel-body bg-light card-body">
        <form method="POST" id="form-product">
          <div>
            <table class="table table-bordered table-hover" id = "dataTable">
              <thead>
                <tr>
                <td class="text-left">Mã đơn hàng</td>
                <td class="text-left">Người nhận</td>
                <td class="text-center">Địa chỉ giao hàng</td>
                <td class="text-center">Loại thanh toán</td>
                <td class="text-center">Ngày giao hàng</td>
                <td class="text-center">Tổng tiền</td>
                <td class="text-center">Hành động</td>
                </tr>
              </thead>
              <tbody>
                {{#each carts}}
                <tr>
                  <td class="text-left">
                    <a id="modal_cart_detail" data-cart-id={{id}} data-target="cartModal" data-toggle="modal" href="#myModal">{{id}}</a>
                  </td>
                  <td class="text-left">{{receiver}}</td>
                  <td class="text-left">{{receiveAddress}}</td>
                  <td class="text-left">{{paymentType}}</td>
                  <td class="text-left">{{deliveryDate}}</td>
                  <td class="text-left">{{total}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-danger" data-original-title="Xóa danh mục sản phẩm">
                      <a href="" data-toggle="tooltip" title="Xóa danh mục này" data-original-title="Mark_delete" class="mark_delete" data-id={{id}}>
                      <i class="fas fa-trash-alt" style="color:white"></i>
                      </a>
                    </button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
</div>


<!--Dialog thêm danh mục sản phẩm -->
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-large">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Chi tiết đơn hàng</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form id="set-category" action="" method="">
          <div class="modal-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <td class="text-left">Hình ảnh minh họa</td>
                <td class="text-left">Tên sản phẩm</td>
                <td class="text-center">Kích cỡ</td>
                <td class="text-center">Số lượng</td>
                <td class="text-center">Đơn giá</td>
                <td class="text-center">Thành tiền</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

